html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
  }
  html{ scroll-behavior: smooth;
    --top-spacing: 10px;
    scroll-padding-top: var(--top-spacing);
  }
  
                                                                            /* header*/
#header{
   position: fixed;
    margin:0px;
    width: 100%;
    height: 25px;
    padding-top: 10px;
    padding-bottom:35px;
    padding-right: 70px;
    text-align: right;
    padding-left: 1px;
    background-color:black;
}
.nav-item{
    padding-left: 18px;
    padding-right: 15px;
    float:right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:light;
    font-size:23px;
}
.name{
    float: left;
    margin-top: 11px;
    font-size: 27px;
    margin-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:black;
    color: lavenderblush;
    border-radius: 5px;

}
.nav-ul{
padding-bottom:1px;
}
.nav-link{

    color:rgb(45, 247, 186);
}
.nav-link:hover {
    color: lavender;
  }
                                                    /* main */
.container-1{
    padding-bottom: 8.5%;
    margin: 0%;
    background-image: url("Images/img-4.jpg");
    background-size: 100%;
    background-color: black;
    background-repeat: no-repeat;

}
.HI{
        
        padding-right: 0px;
        margin-right: 0px;
         font-size: 85px;
        text-align: center;
         padding-top: 19%;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         background: lavenderblush;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;

}

.Name{
        padding-top:0px; 
           font-size:95px;
           padding-top: 1%;
           text-align: center;
           margin-top: 0px;
           margin-left: 0px;
           background: linear-gradient(to right,rgb(122, 243, 9) 10%, rgb(86, 253, 9) 20%, rgb(61, 58, 243) 40%,rgb(245, 31, 31) 60%,
           rgb(231, 170, 37) 80%,rgb(255, 183, 29) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tagline{
    background: linear-gradient(to right,rgb(250, 250, 250) 0%, floralwhite 50%,lightgray 100%);
    text-align: center;
    padding-top: 0px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

}                                      /* social media accounta*/
#accounts{
  padding-left: 37.5%;
  padding-top: 4%;
}
 .fa {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    font-size: 30px;
    width: 30px;
    height: 15px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    margin: 3px 4px;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram{
    background: linear-gradient( rgb(233, 60, 140) 0%, rgb(113, 40, 207) 90%,rgb(243, 184, 57) 100%);
    color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}
                            /* scroll over animation */
.scroll{
  position: relative;
  width: 24px;
  padding-top: 6%;
  padding-left: 48.5%;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  padding-top: 63px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}             
                                                     /* About me*/

 .Aboutme{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-align: center;
     padding-top: 40px;
     font-size: 50px;
     background: linear-gradient(to right,rgb(89, 177, 7) 10%, rgb(82, 218, 19) 20%, rgb(36, 33, 184) 40%,rgb(223, 53, 53) 60%,
           rgb(194, 149, 53) 80%,rgb(255, 183, 29) 100%);
           -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
 }
 #photo {
    width: 300px;
    height: 300px;
    float: left;
    padding: 2.5%;
    margin:0px;
    border-radius: 50%;
  }
 #intro{
     padding-left:30px;
     text-align: right;
     font-size: 20px;    
    
     padding-top: 0%; 
 } 
 .para,.para1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding-left:34%;
   padding-right:20%;
   color: gray;
   font-size: 24px;
 }
      
         
 /*skills*/
 .skill-main{

   padding-left: 10%;
 }
 .skill-00{
   float:left;
   padding-left: 7%;
 }
 .skill-01{
padding-right: 20%;
   float:right;
 }
 .skill-container {
  width: 300px;
  height: 7px;
  background-color: #ddd;
}
.html {width: 70%; height:7px; background-color: #f0701a;}
.js{width: 20%;  height:7px;background-color: #2196F3;}
.git {width: 85%;  height:7px;background-color: rgb(248, 193, 11)}
.c {width: 70%;  height:7px;background-color: #42e6a7;}
.java {width: 85%;  height:7px;background-color: #7f1dcf;}
.cpp {width: 50%;  height:7px;background-color: #17d340;}
.flutter {width: 25%;  height:7px;background-color: #c01d11;}




                                               /* projects */

.container-2{
  background-color:rgb(255, 255, 255);
  padding-bottom: 21%;
}
.Projects{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',' Geneva', Verdana, sans-serif;
  text-align: center;
  padding-top: 70px;
  font-size: 70px;
  background: linear-gradient(to right,rgb(89, 177, 7) 10%, rgb(82, 218, 19) 20%, rgb(36, 33, 184) 40%,rgb(223, 53, 53) 60%,
        rgb(194, 149, 53) 80%,rgb(255, 183, 29) 100%);
        -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
}
.row-1{
  margin-bottom: 400px;
}
.card{
  width: 310.5px;
  margin-top: 1%;
  float:right;
  margin-right: 6%;
  padding-bottom: 2.5%;
  border-radius: 5px;
  background-color:rgba(179, 212, 231, 0.473); 
  margin-left: 5%;
}
.card:hover,
.card:focus,
.card:active {
  -webkit-transform: scale(1.065);
  transform: scale(1.065);
}
.card-img-top{
  width:310.8px;
  border-top: gray 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
}
.card-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 20px;
}
.card-text{
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
}
.btn {
  text-decoration: none;
  text-align: center;
  padding: 5px;
  color: white;
  margin-top: 80px;
  font-size: 20px;
  background-color:rgba(27, 89, 223, 0.527);
  border-radius:5px;
  margin-left: 90px;

}


/* experience */
/*    contact form*/
.container-form{
  display: block; 
  width:500px;
  margin-left: 32.3%;
}
.container-form label{
  display:inline-block;
  float: left;
  height: 1em;
  font-weight:italic;
  padding:6px 0px 0px;
  line-height: 1em;
  width:155px;
  font-size:1.4em ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  margin: 5px 0px;
  clear:both; 
}
.contact{
  border-radius:7px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left:55px;
  padding-right: 30px;
  background-color: floralwhite;
}
.container-form label small{
  font-size:0.75em ;
  color:grey;
}
.container-form input,textarea{
  width:190px;
padding-top: 10px;
  margin:4px;
  color:black;
  border:1px solid gray;
  font:0.8em "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;";
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  vertical-align:top;
  transition:all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  box-shadow:0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px;
}
.container textarea{
  padding:10px;
  margin:4px;
  color:black;
  background-color:white;
  border:1px solid grey;
  font:0.8em "Lucida Grande","Lucida Sans Unicode",Arial,Sans-serif;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  vertical-align:top;
  transition:all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  box-shadow:0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px;
}

.container-form input:focus,textarea:focus{
  border:1px solid grey;
  background-color:white;
  color:black;
  font-size:0.8em;
  outline:none;
  position:relative;
  z-index:5;
  box-shadow:0 0 5px lightblue;
  -webkit-box-shadow: 0 0 5px lightblue;
  -moz-box-shadow: 0 0 5px lightblue;
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  transition:all 0.25s ease-in-out;
  -webkit-transition: all 0.25 ease-in-out;
  -moz-transition:all 0.25 ease-in-out;
}
.container-form input.submit{
  width:auto;
  margin-left: 40%;
  margin-top: 5px;
  cursor:pointer;
  position:relative;
  border: 1px solid black;
  color:white;
  padding:10px 20px;
  text-decoration:none;
  font-size:1.0em;
  background: linear-gradient(to right,rgb(7, 33, 177) 10%,rgb(153, 29, 255) 100%);
  box-shadow:0 2 3px black;
  -moz-box-shadow:0 1 3px black;
  -webkit-box-shadow:0 1 3px black;
}
.container-form input.submit:hover{
  background:black;
  }
.container-form input.submit:active, .container input.submit:focus{
  top:1px;
}
#contact-text{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 10px;
  font-size: 50px;
  background: linear-gradient(to right,rgb(89, 177, 7) 10%, rgb(82, 218, 19) 20%, rgb(36, 33, 184) 40%,rgb(223, 53, 53) 60%,
        rgb(194, 149, 53) 80%,rgb(255, 183, 29) 100%);
        -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
}