html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
  }
  html{ scroll-behavior: smooth;
    --top-spacing: 10px;
    scroll-padding-top: var(--top-spacing);
  }
#header{
   position: fixed;
    margin:0px;
    width: 100%;
    height: 25px;
    padding-top: 10px;
    padding-bottom:35px;
    padding-right: 70px;
    text-align: right;
    padding-left: 1px;
    background-color:black;
}
.nav-item{
    padding-left: 20px;
    padding-right: 10px;
    float:right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
    font-size:23px;
}
.name{
    float: left;
    margin-top: 11px;
    font-size: 27px;
    margin-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:black;
    color: lavenderblush;
    border-radius: 5px;

}
.nav-ul{
padding-bottom:1px;
}
.nav-link{
    color:mediumspringgreen;
}
.nav-link:hover {
    color: lavender;
  }
  
.container-1{
    padding-bottom: 135px;
    margin: 0%;

    background-color:black;
}
.HI{
        float:left;
        padding-right: 0px;
        margin-right: 0px;
         font-size: 85px;
         padding-left: 29.3%;
         padding-top: 19%;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         background: lavenderblush;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;

}

.Name{
        padding-top:0px; 
           font-size:95px;
           padding-top: 28%;
           padding-left: 17%;
           margin-top: 0px;
           margin-left: 0px;
           background: linear-gradient(to right,rgb(122, 243, 9) 10%, rgb(86, 253, 9) 20%, rgb(61, 58, 243) 40%,rgb(245, 31, 31) 60%,
           rgb(231, 170, 37) 80%,rgb(255, 183, 29) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tagline{
    background: linear-gradient(to right,rgb(250, 250, 250) 0%, floralwhite 50%,lightgray 100%);
    margin-left: 390px;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

}

.scroll{
  position: relative;
  width: 24px;
  padding-top: 13%;
  padding-left: 48.5%;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  padding-top: 63px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}


 .Aboutme{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-align: center;
     padding-top: 20px;
     font-size: 50px;
     background: linear-gradient(to right,rgb(89, 177, 7) 10%, rgb(82, 218, 19) 20%, rgb(36, 33, 184) 40%,rgb(223, 53, 53) 60%,
           rgb(194, 149, 53) 80%,rgb(255, 183, 29) 100%);
           -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
 }

 #photo {
    width: 300px;
    height: 300px;
    float: left;
    margin:0px;
    border-radius: 50%;
    line-height: 0;		/* remove line-height */ 

  }
 #intro{
     padding-left:80px;
     text-align: right;
    font-size: 20px;    
    padding-top: 1%; 
 } 
 .para,.para1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding-left:34%;
   padding-right:20%;
   color: gray;
   font-size: 24px;
 }
 
#accounts{
  padding-left: 37.5%;
  padding-top: 4%;
}
 .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height: 15px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    margin: 6px 2px;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram{
    background: linear-gradient( rgb(233, 60, 140) 0%, rgb(113, 40, 207) 90%,rgb(243, 184, 57) 100%);
    color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

